/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --white: #fff;
  --dark: #1e1c2a;
  --blue: #1a58b6;
  --light-blue: #a8c8ee;
}

body {
  background: var(--blue);
  font-family: "Poppins", sans-serif;
  outline: none;
  color: var(--dark);
  z-index: -10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--white);
  
}

a:hover {
  font-weight: bolder;
  color: var(--dark);
  transition: all 0.2s;
}

h1 {
  font-size: 5vh;
  padding: 2%
}

h1:hover * {
  font-weight: bolder;
  transition: all 0.2s;
  color: var(--white);
}

h1 *{
  color: var(--white);
}

h2 {
  align-content: center;
  font-size: 10vh;
  font-weight: bold;
}

h3 {
  font-size: 4vh;
  font-weight: bold;
}

p {
  font-size: 2vh;
  text-indent: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

footer {
  background-image: linear-gradient( var(--blue), var(--white) );
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

footer a {
  color: var(--dark)
}

.section{
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  border-radius: 2%;
  margin: 5px;
  box-shadow: none;

}

#intro {
  background-image: linear-gradient(var(--blue),var(--light-blue));
}

#intro h2{
  font-size: 3vh;
}

#about {
  background-image: linear-gradient(var(--light-blue),var(--blue));
  font-size: 10%;
}

#projects {
    z-index: 5;
}

#projects h2 {
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: var(--white);
}

#projects.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;      
}

.project {
  padding: 2%;
  width: fit-content;
  height: fit-content;
  background-color: var(--white);
  border-radius: 5%;
  color: var(--dark);
  border-style: dashed;
  margin-left: 10%;
  margin-bottom: 10%;
}

.project a {
  color: var(--dark);
  text-decoration: underline;
}

.project:hover * {
  font-weight: bolder;
  transition: all 0.5s;
}

.working-late-animate {
  height: 90vh;
  z-index: -1;
  display:block;
  position: absolute;
}

#skills {
  background-image: linear-gradient(var(--blue),var(--light-blue),var(--blue));
}

.icon-social-network {
  width: 70%;
}

.icon-skill {
  width: 15%;
}

.action-icon-up {
  top: 0;
}

.action-icon-down {
  bottom: 0;
  position: relative;
}

#contact-info {
  color: var(--white);
}

.social-networks {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.social-network {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}



@media only screen and (max-width: 600px) {
  
  #intro {
    padding:2%;
  }

  #intro h1 {
    font-size: 7vh;
  }

  #intro h2 {
    font-size: 7vh;
  }

  .icon-social-network {
    width: 30%;
  }

  .social-networks {
    flex-direction: column;
  }

  .projects {
    flex-direction: column;
  }

  #projects h2 {
    font-size: 40px;
  }

  #about h2 {
    display: none;
  }

  #about p {
    font-size: 1.7vh;
  }

  #contact-info h2{
    font-size: 30px;
  }

  .icon-skill {
    width: 30%;
  }
}